# Ignore all
*

# Unignore all with extensions
!*.*

# ignore executable files
*.out

# Unignore all dirs
!*/

# unignore makefile
!Makefile

# ignore .tar, .cmd
*.tar
*.cmd

# ignore ref/
ref/

# unignore Readme
!Readme